body{

font-family:Poppins;
margin:0;
background:#0f172a;
color:white;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#020617;

}


.navbar a{

margin-left:20px;
color:white;
text-decoration:none;
font-weight:500;

}


.logo{

font-weight:700;
font-size:22px;

}


.hero{

text-align:center;
padding:120px 20px;

background:linear-gradient(135deg,#6366f1,#8b5cf6);

}


.hero h1{

font-size:48px;
margin-bottom:20px;

}


.hero button{

padding:15px 30px;
font-size:18px;
border:none;
border-radius:8px;
cursor:pointer;

background:white;
color:black;

}


.tools{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

padding:60px;

}


.tool{

background:#1e293b;

padding:25px;

border-radius:12px;

box-shadow:0 10px 20px rgba(0,0,0,0.3);

}


input{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:6px;

}


textarea{

width:100%;

height:140px;

padding:12px;

border-radius:6px;

border:none;

margin-top:10px;

}


button{

margin-top:10px;

padding:10px 20px;

border:none;

border-radius:6px;

cursor:pointer;

background:#6366f1;

color:white;

font-weight:500;

}


button:hover{

background:#4f46e5;

}


.pricing{

display:flex;

justify-content:center;

gap:40px;

padding:60px;

}


.plan{

background:#1e293b;

padding:30px;

border-radius:12px;

width:250px;

text-align:center;

}


.plan ul{

list-style:none;

padding:0;

}


.plan.pro{

border:2px solid #8b5cf6;

}


.upgrade{

background:#8b5cf6;

}


.about{

padding:80px;

text-align:center;

}


footer{

background:#020617;

text-align:center;

padding:30px;

}
